.about-me {
  padding: 2rem;
  background: #fff;
}

.about-me__container {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 1120px;
  width: 90%;
  margin: 0 auto;
}

.about-me__wrapper {
  position: relative;
  margin: 10px 0px 10px;
}

.about-me-writing {
  color: #252e48;
  font-size: 18px;
  line-height: 24px;
}
